@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.background-place {
    background-image: url(background_image.png);
    background-size: cover;
    background-position: center;
    /* max-width: 1200px; */
    height: 822px;
}

.menu-btn {
    visibility: hidden;
}

/* header */

header {
    padding: 50px;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: fit-content;
    gap: 100px;
}

.nav-list{
    display: flex;
    padding-left: 50px;
    padding-right: 220px;
}

.nav-list > li {
    list-style: none;
}

.nav-list > li > a {
    font-size: 12px;
    padding: 0 15px;
    letter-spacing: 0.2em;
    font-weight: 200;
}

.nav-list > li > a:hover {
    text-decoration: underline;
}

.project-name > a {
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 0.1em;
}

/* hero */

.hero {
    position: relative;
    top: 37%;
    transform: translateY(-50%);
}

.hero-container {
    width: 426px;
    margin: 0 auto;
    text-align: center;
}

.hero-logo {
    width: 63px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.hero-description {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}

/* main-content */

.main-content {
    background-color: #EEEEEE;
}

.main-content-container {
    padding: 100px 140px;
    text-align: center;
}

.main-content h1 {
    color: #464547;
}

.main-content-description > p{
    color: #666666;
    padding-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}

.main-content-subheader {
    color: #666666;
    font-weight: 200;
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}

.main-content-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 85px;
    text-align: left;
}

.main-content button {
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    padding: 5px 18px;
    border-radius: 18px;   
    color: #fff;
    background: #55C2D8;
    border: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
}

/* learn-more */

.learn-more {
    background-image: url('learn_more_background.png');
    height: 620px;
}

.learn-more-container {
    padding: 80px 140px;
    text-align: center;
    background: rgba(140, 79, 42, 0.3);
}

.learn-more h1 {
    color: #fff;
}

.learn-more > button{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    margin: 50px 0;
    background-color: transparent;
}

.learn-more-description {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 200;
    font-size: 22px;
    line-height: 32px;
    width: 350px;
}

/* footer */

footer {
    background-color: #464547;
    padding: 20px 145px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: minmax(80px, auto);
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer-project-info {
    display: flex;
    align-items: start;
}

.footer-logo {
    width: 20px;
}

.footer-project-info p {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 12px;
    font-weight: 200;
    padding-top: 2px;
}

.footer-address {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-address p {
    color: rgba(255, 255, 255, 0.4);
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.4);
    align-self: flex-end;
    font-weight: 200;
}


@media screen and (max-width: 768px){
    body {
        max-width: 100%;
    }

    nav {
        visibility: hidden;
    }

    .container {
        text-align: center;
        padding: 90px 30px;
    }

    .main-content-description {
        text-align: left;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px;

    }

    .footer-project-info{
        height: 10px;
        justify-content: center;
    }

    .footer-container {
        grid-template-columns: 1fr;
        width: auto;
    }

    .menu-btn {
        height: 20px;
        visibility: visible;
        padding-left: 420px;
    }
}

/* animations */

/* read-more tilt */

.btn-read-more {
    transform-origin: left;
    transition-duration: 0.5s;
}

.btn-read-more:hover {
    transform: rotate(10deg);
    transition-duration: 0.5s;
}

/* play color change */

.btn-play {
    transition-duration: 0.5s;
}

.btn-play:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.btn-play:hover path{
    fill: white;
    transition-duration: 0.5s;
}

.btn-play:hover ellipse{
    fill: #39C2D7;
    transition-duration: 0.5s;
}

.btn-play path{
    transition-duration: 0.5s;
}

.btn-play ellipse{
    transition-duration: 0.5s;
}

/* logo spin */

.hero-logo {
    transition-duration: 0.5s;
}

.hero-logo:hover {
    transition-duration: 0.5s;
    transform: rotateY(180deg) scale(1.5);
}